* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #e2dbdb;
}

.wrapper {
    width: 330px;
    padding: 2rem 1rem;
    margin: 75px auto;
    background-color: white;
    ;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    color: #07001f;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

form input {
    width: 90%;
    outline: none;
    border: 1px solid #a8a1a1;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 5pxpx;
    background-color: #e4e4e4;
}

button {
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 50%;
    color: #fff;
    cursor: pointer;
    background-color: rgba(10, 118, 207, 0.966);
}

button:hover {
    background-color: rgba(16, 55, 114, 0.932);
}

a {

    text-decoration: none;
    font-size: .9rem;
}

i {
    padding-right: 5px;
}